<form method="post" action="{{ path('app_cargo_delete', {'id': cargo.id}) }}" onsubmit="return confirm('Esta seguro que desea eliminar este cargo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cargo.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
