{% extends 'base.html.twig' %}

{% block title %}Modificar Cargo{% endblock %}

{% block page %}
<div class="container-fluid hold-transition register-page">
    <div class="register-box text-center">
        <div class="card" style="width: 435px;">
            <div class="card-body">
                <h3>Modificar cargo</h3>
                <br>
                {{ include('cargo/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('cargo/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
